<form class="w3-container">


  <!--<h1 class="h4 mb-2 login">Pesquisar cep</h1>-->
  <h1 class="h4 mb-2 login">edificio {{edificio.nomeEdificio}}</h1>
  <!--------------------------msg----------------------------------------------->
  <label for="msg" class="sr-only">msg</label>
  <input type="number" id="edificioId"
         name="edificioId" placeholder="edificioId"
         class="form-control mb-2"
         [(ngModel)]="edificioId"
         required />
  <!------------------------------------------------------------------------->
  <!--------
      nao usar [value] com  [(ngModel)] usar um ou outro

  FormsModule precisa importar essa classe no app.module.ts

      -------------------------------------------
    ---------------------->
  <!------------------------------------------------------------------------->
  <label for="codigoEdificio" class="sr-only">Código edificio</label>
  <input type="number" id="codigoEdificio"
         name="codigoEdificio" placeholder="Código edificio"
         class="form-control mb-2"
         [(ngModel)]="edificio.codigoEdificio"
         #codigoEdificio="ngModel"
         required />

  <label for="nomeEdificio" class="sr-only">Nome edificio</label>
  <input type="text" id="nomeedificio"
         name="nomeEdificio" placeholder="Nome edificio"
         class="form-control mb-2"
         [(ngModel)]="edificio.nomeEdificio"
         #nomeEdificio="ngModel"
         required />

  <label for="estado" class="sr-only">Estado</label>
  <input type="text" id="estado"
         name="estado" placeholder="estado"
         class="form-control mb-2"
         [(ngModel)]="edificio.estado"
         #estado="ngModel"
         required />

  <label for="nomeCidade" class="sr-only">Nome Cidade</label>
  <input type="text" id="nomeCidade"
         name="nomeCidade" placeholder="Nome Cidade"
         class="form-control mb-2"
         [(ngModel)]="edificio.nomeCidade"
         #nomeCidade="ngModel"
         required />

  <label for="andares" class="sr-only">Andares</label>
  <input type="number" id="andares"
         name="andares" placeholder="Andares"
         class="form-control mb-2"
         [(ngModel)]="edificio.andares"
         #andares="ngModel"
         required />

  <label for="numeroAptoAndar" class="sr-only">Numero de Apartamento por Andar</label>
  <input type="number" id="numeroAptoAndar"
         name="numeroAptoAndar" placeholder="Numero de Apartamento por Andar"
         class="form-control mb-2"
         [(ngModel)]="edificio.numeroAptoAndar"
         #numeroAptoAndar="ngModel"
         required />



  <button class="btn btn-primary btn-block mb-3" type="submit" (click)="Buscar(edificioId)" >
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"  ></span>
    Buscar
  </button>

  <button class="btn btn-primary btn-block mb-3" type="submit" (click)="Atualizar(edificio)" >
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"  ></span>
    Atualizar
  </button>

  <button class="btn btn-primary btn-block mb-3" type="submit" (click)="Deletar(edificioId)" >
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"  ></span>
    Deletar
  </button>
  <button class="btn btn-primary btn-block mb-3" type="submit" (click)="Criar(edificio)" >
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"  ></span>
    Criar
  </button>

</form>
<!--

prestar atencao no atributo name do input se tiverem o mesmo name , vai dar bug
  (click)="entrar()"
{
  "cep": "13181-720",
  "logradouro": "Rua Marcos Dutra Pereira",
  "complemento": "",
  "bairro": "Parque Bandeirantes I (Nova Veneza)",
  "localidade": "Sumaré",
  "uf": "SP",
  "unidade": "",
  "ibge": "3552403",
  "gia": "6713"
}
-->
