@model IEnumerable<testesenior.Domain.DTO.TabelaCidadeDTO>

@{
    ViewData["Title"] = "Cidades";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Código Cidade</th>
            <th scope="col">Nome Cidade</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>

        @{ foreach (var item in Model)
            {
        <tr onclick="Editar(@item.codigoCidade)" style="cursor:pointer">
            <td>@item.codigoCidade</td>
            <td>@item.nomeCidade</td>
            <td>@item.estado</td>
        </tr>
                }
            }


    </tbody>
</table>


<script>

    function Editar(Codigo) {
        window.location = window.origin + "/Cidade/Cidade/" + Codigo;
        console.log("Editar")
    }

    function Cadastrar() {
        window.location = window.origin + "/Cidade/Cadastro";
    }

</script>