<form class="w3-container">


  <!--<h1 class="h4 mb-2 login">Pesquisar cep</h1>-->
  <h1 class="h4 mb-2 login">edificio {{pagamento.nomeEdificio}}</h1>
  <!--------------------------msg----------------------------------------------->
  <label for="msg" class="sr-only">msg</label>
  <input type="number" id="pagamentoId"
         name="pagamentoId" placeholder="pagamentoId"
         class="form-control mb-2"
         [(ngModel)]="pagamentoId"
         required />
  <!------------------------------------------------------------------------->
  <!--------
      nao usar [value] com  [(ngModel)] usar um ou outro

  FormsModule precisa importar essa classe no app.module.ts

      -------------------------------------------
    ---------------------->
  <!------------------------------------------------------------------------->
  <label for="codigoPagamentoCondominio" class="sr-only">Código pagamento</label>
  <input type="number" id="codigoPagamentoCondominio"
         name="codigoPagamentoCondominio" placeholder="Código Pagamento Condomínio"
         class="form-control mb-2"
         [(ngModel)]="pagamento.codigoPagamentoCondominio"
         #codigopagamento="ngModel"
         required />

  <label for="nomeCidade" class="sr-only">Nome Cidade</label>
  <input type="text" id="nomeCidade"
         name="nomeCidade" placeholder="Nome Cidade"
         class="form-control mb-2"
         [(ngModel)]="pagamento.nomeCidade"
         #nomeCidade="ngModel"
         required />

  <label for="estado" class="sr-only">Estado</label>
  <input type="text" id="estado"
         name="estado" placeholder="estado"
         class="form-control mb-2"
         [(ngModel)]="pagamento.estado"
         #estado="ngModel"
         required />

  <label for="nomeEdificio" class="sr-only">Nome Edificio</label>
  <input type="text" id="nomeEdificio"
         name="nomeEdificio" placeholder="nomeEdificio"
         class="form-control mb-2"
         [(ngModel)]="pagamento.nomeEdificio"
         #nomeEdificio="ngModel"
         required />

  <label for="andares" class="sr-only">Andares</label>
  <input type="number" id="andares"
         name="andares" placeholder="Andares"
         class="form-control mb-2"
         [(ngModel)]="pagamento.andares"
         #andares="ngModel"
         required />

  <label for="numeroAptoAndar" class="sr-only">Numero de pagamento por Andar</label>
  <input type="number" id="numeroAptoAndar"
         name="numeroAptoAndar" placeholder="Numero de pagamento por Andar"
         class="form-control mb-2"
         [(ngModel)]="pagamento.numeroAptoAndar"
         #numeroAptoAndar="ngModel"
         required />

  <label for="metragem" class="sr-only">Metragem</label>
  <input type="number" id="metragem"
         name="metragem" placeholder="Metragem"
         class="form-control mb-2"
         [(ngModel)]="pagamento.metragem"
         #metragem="ngModel"
         required />

  <label for="andar" class="sr-only">Andar</label>
  <input type="number" id="andar"
         name="andar" placeholder="Andar"
         class="form-control mb-2"
         [(ngModel)]="pagamento.andar"
         #andar="ngModel"
         required />

  <label for="numeroQuartos" class="sr-only">numeroQuartos</label>
  <input type="number" id="numeroQuartos"
         name="numeroQuartos" placeholder="numero de Quartos"
         class="form-control mb-2"
         [(ngModel)]="pagamento.numeroQuartos"
         #numeroQuartos="ngModel"
         required />

  <label for="dataPagamento" class="sr-only">Data de Pagamento</label>
  <input type="date" id="dataPagamento"
         name="dataPagamento" placeholder="Data de Pagamento"
         class="form-control mb-2"
         [(ngModel)]="pagamento.dataPagamento"
         #dataPagamento="ngModel"
         required />

  <label for="valorPagamento" class="sr-only">valor de Pagamento</label>
  <input type="number" id="valorPagamento"
         name="valorPagamento" placeholder="valor de Pagamento"
         class="form-control mb-2"
         [(ngModel)]="pagamento.valorPagamento"
         #valorPagamento="ngModel"
         required />



  <button class="btn btn-primary btn-block mb-3" type="submit" (click)="Buscar(pagamentoId)" [disabled]="ativar_spinner">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativar_spinner"></span>
    Buscar
  </button>

  <button class="btn btn-primary btn-block mb-3" type="submit" (click)="Atualizar(pagamento)" [disabled]="ativar_spinner">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativar_spinner"></span>
    Atualizar
  </button>

  <button class="btn btn-primary btn-block mb-3" type="submit" (click)="Deletar(pagamentoId)" [disabled]="ativar_spinner">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativar_spinner"></span>
    Deletar
  </button>
  <button class="btn btn-primary btn-block mb-3" type="submit" (click)="Criar(pagamento)" [disabled]="ativar_spinner">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativar_spinner"></span>
    Criar
  </button>

</form>
<!--

prestar atencao no atributo name do input se tiverem o mesmo name , vai dar bug
  (click)="entrar()" [disabled]="ativar_spinner"
{
  "cep": "13181-720",
  "logradouro": "Rua Marcos Dutra Pereira",
  "complemento": "",
  "bairro": "Parque Bandeirantes I (Nova Veneza)",
  "localidade": "Sumaré",
  "uf": "SP",
  "unidade": "",
  "ibge": "3552403",
  "gia": "6713"
}
-->
