<table class="table">
  <thead>
    <tr>
      <th scope="col">Código Apartamento</th>
      <th scope="col">Código Edificio</th>
      <th scope="col">Nome Edificio</th>
      <th scope="col">Nome Cidade</th>
      <th scope="col">Estado</th>
      <th scope="col">Metragem</th>
      <th scope="col">Andar</th>
      <th scope="col">Numero de Quartos</th>
      <th scope="col">Valor Pagamento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let RankingCondominio of spRankingCondominio">
      <td>{{RankingCondominio.codigoApartamento}}</td>
      <td>{{RankingCondominio.codigoEdificio}}</td>
      <td>{{RankingCondominio.nomeEdificio}}</td>
      <td>{{RankingCondominio.nomeCidade}}</td>
      <td>{{RankingCondominio.estado}}</td>
      <td>{{RankingCondominio.metragem}}</td>
      <td>{{RankingCondominio.andar}}</td>
      <td>{{RankingCondominio.numeroQuartos}}</td>
      <td>{{RankingCondominio.valorPagamento}}</td>

    </tr>

  </tbody>
</table>


